Theme(
    dark_mode: true,
    base: Scale(
        bg: "#111113",
        bg_subtle: "#18191b",
        bg_element: "#212225",
        bg_element_hovered: "#272a2d",
        bg_element_active: "#2e3135",
        bg_solid: "#696e77",
        bg_solid_hovered: "#777b84",
        border: "#363a3f",
        border_element: "#43484e",
        border_element_hovered: "#5a6169",
        fg_low_contrast: "#b0b4ba",
        fg_high_contrast: "#edeef0",
    ),
    highlight: Scale(
        bg: "#11131f",
        bg_subtle: "#141726",
        bg_element: "#182449",
        bg_element_hovered: "#1d2e62",
        bg_element_active: "#253974",
        bg_solid: "#3e63dd",
        bg_solid_hovered: "#5472e4",
        border: "#304384",
        border_element: "#3a4f97",
        border_element_hovered: "#435db1",
        fg_low_contrast: "#9eb1ff",
        fg_high_contrast: "#d6e1ff",
    ),
    warning: Scale(
        bg: "#16120c",
        bg_subtle: "#1d180f",
        bg_element: "#302008",
        bg_element_hovered: "#3f2700",
        bg_element_active: "#4d3000",
        bg_solid: "#ffc53d",
        bg_solid_hovered: "#ffd60a",
        border: "#5c3d05",
        border_element: "#714f19",
        border_element_hovered: "#8f6424",
        fg_low_contrast: "#ffca16",
        fg_high_contrast: "#ffe7b3",
    ),
    error: Scale(
        bg: "#191111",
        bg_subtle: "#201314",
        bg_element: "#3b1219",
        bg_element_hovered: "#500f1c",
        bg_element_active: "#611623",
        bg_solid: "#e5484d",
        bg_solid_hovered: "#ec5d5e",
        border: "#72232d",
        border_element: "#8c333a",
        border_element_hovered: "#b54548",
        fg_low_contrast: "#ff9592",
        fg_high_contrast: "#ffd1d9",
    ),
    stroke_width: 1.0,
    element_border_width: 1.0,
    corner_radius: 1,
)
