[project]
name = "{{ player_name }}"
description = "High-level interface for SciCat"
version = "1.0.0"
license = { "text" = "MIT" }
authors = [{ name = "AIgi contributors" }]
requires-python = ">=3.10"
dependencies = [
    "numpy >= 2",
]
